.forecast-scroll {
  max-height: 320px;
  overflow: auto !important;
  width: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;

  // Barra celeste
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 180, 216, 0.3) transparent;
  &::-webkit-scrollbar { width: 4px; height: 4px; }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 180, 216, 0.3);
    border-radius: 2px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 100%; // En PC se adapta total

    @media (max-width: 1024px) {
      min-width: 750px; // En tablet asoma un poco el scroll si es necesario
    }

    th, td {
      background: transparent;
      position: relative;
    }

    // MODO MÓVIL / TABLET PEQUEÑA
    @media (max-width: 850px) {
      min-width: 600px;

      
      thead tr th:first-child,
      tbody tr td:first-child {
        position: sticky;
        left: 0;
        z-index: 10;
        background-color: #020517 !important;
        
        
        outline: 2px solid #020517;
        outline-offset: -1px;
        
        
        box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.1);
        border: none;
      }

      thead tr th:first-child {
        z-index: 40;
        top: 0;
      }
    }
  }
}
// Estilo específico para el CARRUSEL 
.cards-carousel {
  display: flex !important;
  overflow-x: auto !important;
  flex-direction: row !important;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; // Oculta barra en Firefox
  
  &::-webkit-scrollbar {
    display: none; // Oculta barra en Chrome/Safari
  }

  li {
    flex: 0 0 auto; //Evita que la card se parta o encoja
    scroll-snap-align: start;
  }
}